<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WEB207_TaiNguyen_thuvien</title>

    <!-- Nhúng Bootstrap -->
    <link rel="stylesheet" href="lib/bootstrap.css">
    <script src="lib/bootstrap.js"></script>
    <!-- Nhúng thư viện -->
    <script src="lib/angular.js"></script>
    <!-- Mở thẻ script để viết code logic -->
    <script>
        // Khởi tạo ng-app
        var app = angular.module('myApp', [])
        // Khởi tạo ng-controller
        app.controller('danhSachSanPhamCtrl', function ($scope, $http) {
            console.log('danhSachSanPhamCtrl xin chao');
            // 1. Khai báo các biến cần thiết
            $scope.danhSachSanPham = []; //Biến lưu danh sách sản phẩm lấy từ api về
            $scope.danhSachDanhMuc = []; //Biến lưu danh sách danh mục lấy từ api về
            // 2. Call api lấy danh sách sản phẩm và lưu và vào biến $scope.danhSachSanPham
            $http({
                method: 'GET',
                url: 'http://localhost:3000/san-pham'
            }).then(function (response) {
                //Đoạn code logic xử lý khi call api thành công
                console.log("Dữ liệu từ API", response.data);
                $scope.danhSachSanPham = response.data
            })
            //3. Call api lấy danh sách danh mục
            $http({
                method: 'GET',
                url: 'http://localhost:3000/danh-muc'
            }).then(function (response) {
                //Đoạn code logic xử lý khi call api thành công
                console.log("Dữ liệu từ API", response.data);
                $scope.danhSachDanhMuc = response.data
            })
            // 4. Code html để hiển thị ra danh mục
            // 5. Bắt sự kiện click button danh mục
            //Sau đó call api lây danh sách sản phẩm theo danh mục được click
            $scope.onClickDanhMuc = function (id) {
                console.log('Bạn đã click vào id danh mục: ', id);
                // Call api lấy danh sách sản phẩm và truyền id danh mục vào 
                $http({
                    method: 'GET',
                    url: 'http://localhost:3000/san-pham',
                    params: {
                        idDanhMuc: id
                    }
                }).then(function (response) {
                    //Đoạn code logic xử lý khi call api thành công
                    console.log("Dữ liệu từ API", response.data);
                    $scope.danhSachSanPham = response.data
                })
            }
        })
    </script>

</head>

<body ng-app="myApp">
    <div class="container" ng-controller="danhSachSanPhamCtrl">
        <!-- Khu vực tiêu đề trang -->
        <h3>Danh sách sản phẩm</h3>

        <!-- Khu vực bộ lọc -->
        <span>Lọc theo danh mục: </span>
        <button class="btn btn-primary" ng-click="onClickDanhMuc(null)">Tất cả</button>
        <button class="btn btn-light" ng-repeat="item in danhSachDanhMuc"
            ng-click="onClickDanhMuc(item.id)">{{item.ten}}</button>
        <!-- Khu vực button -->
        <div class="d-flex justify-content-end">
            <button class="btn btn-success">Tạo mới sản phẩm</button>
        </div>

        <!-- Khu vực bảng -->
        <table class="table table-bordered mt-2">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Ảnh</th>
                    <th>Tên sản phẩm</th>
                    <th>Danh mục</th>
                    <th>Trạng thái</th>
                    <th>Tương tác</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in danhSachSanPham">
                    <td>{{item.id}}</td>
                    <td>
                        <div class="border rounded bg-light overflow-hidden d-flex justify-content-center align-items-center"
                            style="height: 80px; width: 80px;">
                            <img ng-src="{{item.anh}}" class="mw-100 mh-100">
                        </div>
                    </td>
                    <td>{{item.ten}}</td>
                    <td>{{item.tenDanhMuc}}</td>
                    <td>
                        <span class="badge bg-success rounded-pill">Còn hàng</span>
                        <!-- <span class="badge bg-danger rounded-pill">Hết hàng</span> -->
                    </td>
                    <td style="width: 1px;" class="text-nowrap">
                        <button class="btn btn-primary btn-sm">Xem</button>
                        <button class="btn btn-warning btn-sm">Sửa</button>
                        <button class="btn btn-danger btn-sm">Xoá</button>
                    </td>
                </tr>



            </tbody>
        </table>


        <!-- Khu vực phân trang -->
        <div class="d-flex justify-content-center">
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
        </div>
    </div>

</body>

</html>