<!-- Khu vực tiêu đề -->
<h2>Trang tạo mới</h2>
<!-- Khu vực nội dung form -->
<form>
    <!-- Khu vực id -->
    <div class="mt-3">
        <span class="form-label">ID</span>
        <input ng-model="product.id" class="form-control" type="text" placeholder="Nhập ID" disabled>
    </div>
    <!-- Khu vực tên -->
    <div class="mt-3">
        <span class="form-label">Tên</span>
        <input ng-model="product.name" class="form-control" type="text" placeholder="Nhập tên" disabled>
    </div>
    <!-- Khu vực giá -->
    <div class="mt-3">
        <span class="form-label">Giá</span>
        <input ng-model="product.price" class="form-control" type="text" placeholder="Nhập giá" disabled>
    </div>
    <!-- Khu vực danh muc -->
    <div class="mt-3">
        <span class="form-label">Danh mục</span>
        <select ng-model="product.category" class="form-control" disabled>
            <option value="">--Lựa chọn--</option>
            <option value="Bình Hoa TC">Bình Hoa TC</option>
            <option value="Đồ Bếp TC">Đồ Bếp TC</option>
            <option value="Đồ Nhà Tắm TC">Đồ Nhà Tắm TC</option>
        </select>
    </div>
    <!-- Khu vực button -->
    <div class="mt-3">
        <a href="#!list-product" class="btn btn-secondary">Quay lại</a>
        <a href="#!edit-product/{{product.id}}" class="btn btn-warning">Chỉnh sửa</a>
    </div>
</form>